name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    container:
      image: alpine:edge

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Install packages
      run: apk add --no-cache perl rakudo zef

    - name: Raku version
      run: raku -v

    - name: Install dependencies
      run: zef install --deps-only --test-depends --/test .

    - name: Run tests
      run: prove -ve 'raku -I.' --ext rakutest
